
 body {
     padding: 0;
     margin: 0;
     background: black ;
     /*background-image: url("./assets/trump-bg.jpg");
     background-size: cover;*/
 }

 canvas {
     outline: 4px solid white;
     display: block;
     margin: 0 auto;
 }

 .title{
    display: block;
    margin: 0 auto;
 }

 canvas {
     outline: 4px solid white;
     display: block;
     margin: 0 auto;
 }

 .title{
    display: block;
    margin: 0 auto;
 }
